.button-container {
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: 1px;
  font-size: 17px;
  color: white;
  width: 40%;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    border: none;
    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    width: 80%;
    background-color: white;
    color: black;
    border: 2px solid black;
    &:hover {
      color: white;
      background-color: black;
      border: none;
    }
  }
}
