.sign-in-form-container {
  display: flex;
  flex-direction: column;
  min-width: 30%;

  .sign-in-form-title {
    align-items: center;
    justify-content: center;
  }

  .signIn-buttons {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
  }
}
